/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
// @import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

#footer{
	text-align: center;
}

.login-input{
	margin: 10px 15px;
}

#signup-container{
	margin-left: 10px;
}

.signup-input{
	margin-top: 7px;
}

#login-container{
	margin-left: 10px;
}

#healthinfo-container{
	margin-left: 10px;
}

#medentry-container{
	margin-left: 10px;
}

#phys-vitals{
	margin-left: 10px;
}

h1#page-title{
	background-color: navy;
    padding: 20px;
    color: white;
    border-bottom: 15px solid gold;
}





